{% extends 'base.html' %} {% block meta %}
<title>Login</title>
{% endblock meta %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .profile-container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .container-sm {
    background-color: white;
    align-items: center;
    margin-top: 5%;
    width: 40%;
    height: 60%;
    padding: 10px;
    border-radius: 25px;
    display: block;
  }
  .login {
    text-align: center;
  }
</style>
{% block content %}
<div
  class="container-sm d-flex flex-column justify-content-center align-items-center"
  style="text-align: center; height: 100%; margin-top: 3%; margin-bottom: 3%"
>
  <div class="login">
    <h1 class="fw-bold" style="margin-bottom: 5%;">Login</h1>

    <form id="loginForm" class="mb-3">
      {% csrf_token %}
      <div class="mb-3" style="justify-content: space-between;">
        <label
          for="username"
          style="font-weight: 100; font-family: 'Poppins'; margin-bottom: 1%;"
          >Username</label
        >
        <input type="text" id="username" name="username" required /><br />
      </div>
      <div class="mb-3" style="justify-content: space-between;">
        <label for="password" style="font-weight: 100; font-family: 'Poppins';"
          >Password</label
        >
        <input type="password" id="password" name="password" required /><br />
      </div>
      <button
        style="display: inline; margin-top: 2%; margin-bottom: 1%"
        class="button"
        type="button"
        onclick="login_tim()"
      >
        Login
      </button>
    </form>

    <!-- SSO Login Button -->
    <p>
      or
      <a href="{{ SSO_URL }}/login?service={{ APP_URL }}/api/auth/login/"
        >Login with SSO</a
      >
    </p>
  </div>
</div>

<script>
  function login_tim() {
    var form = document.getElementById("loginForm");
    var formData = new FormData(form);

    fetch("/api/auth/login_tim/", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status) {
          showAlert('SUCCESS', 'Berhasil login!',
                    'OK', '', 
                    '', '')
          // Redirect to a success page if needed
          window.location.href = "/profile/profile-tim";
        } else {
          showAlert('FAILED', data.message,
                    'OK', '', 
                    '', '')
        }
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
{% endblock content %}
