{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Penumpang</title>
{% endblock meta %} 
{% block content %}
<div class="container mt-5 mb-2">
    <h2>Penumpang yang ingin dilaporkan</h2>
    <div class="d-flex flex-column">
        {% if message %}
            <p>{{message}}</p>
        {% else %}
            {% for penumpang in list_penumpang%}
                <div class="card">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{penumpang.pencari_tumpangan.nama}}</h5>
                        <a class="btn btn-danger" href="{{base_link}}/report/1/{{penumpang.pencari_tumpangan.id}}">Report</a>
                    </div>
                </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-light" onclick="history.back()">Back</button>
    </div>
</div>
{% endblock content %}