{% extends 'base.html' %}
{% load static %}
{% block meta %}
{% endblock meta %} 
{% block content %}
<div class="container mt-5">
    <h2><b><span class="title yellow">Buat</span> <span class="title blue">Laporan</span></b></h2>
    <form id="create-laporan" class="flex flex-start gap-4" novalidate>
      {% csrf_token %}
        <div class="row w-100 rows-cols-1 row-cols-md-3 mt-3">
            <div class="col-md-4">
                <div class="form-group p-2">
                    <label class="fw-semibold" for="kategoriLaporan">Kategori*</label>
                    <select required class="form-control " id="kategori_laporan" name="kategori_laporan">
                    <option disabled selected>Pilih kategori</option>
                    {% for choice in kategori_choices %}
                    <option value="{{ choice.label }}">{{ choice.label }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group p-2">
                    <label class="fw-semibold" for="deskripsi">Deskripsi</label>
                    <textarea class="form-control " id="deskripsi" name="deskripsi" rows="3" placeholder="Tuliskan informasi tambahan di sini"></textarea>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-2">
                  <button type="button" class="button py-3" onclick="createLaporan()">Report</button>
                </div>
                <div class="m-2">
                  <button type="button" class="button-outline py-3" onclick="history.back()">Back</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var id = ""
  function validateForm() {
    return ($('#kategori_laporan').val() !== null)
  }

  var validUser = '{{is_on_tumpangan}}'
  var createLaporan = function() {
    if (validateForm()) {
      var formData = $("#create-laporan").serialize();
      $.ajax({
          type: "POST",
          url: window.location.href,
          data: formData,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          id = data.pk
          showAlert('SUCCESS', 'Berhasil membuat laporan', 
          'Back', '', '', '')
          $("#create-laporan").trigger("reset");
        })
    } else {
      showAlert('FAILED', 'Mohon isi input dengan benar', 
                  'Back', '', '', '')
    }
  }
</script>
{% endblock content %}