{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Update Report Status</title>
<style>
  body {
    font-family: "Poppins";
  }

  .container {
    display: flex;
    width: 1440px;
    padding: 32px 80px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 8px 8px 8px 16px;
    box-sizing: border-box;
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }

  .row {
    padding-bottom: 8px;
  }

  .col-md-6 {
    padding-bottom: 8px;
  }
</style>
{% endblock meta %} 
{% block content %}
<div class="container">
    {% if report_data %}
        <p><strong>Dilaporkan pada {{ report_data.timestamp }}</p>
        <p><strong>Report ID:</strong> {{ report_data.id }}</p>
        <p><strong>Kategori:</strong> {{ report_data.kategori }}</p>
        <p><strong>Pelapor:</strong> {{ report_data.pelapor.pengguna_pelapor.nama }}</p>
        <p><strong>Terlapor:</strong> {{ report_data.terlapor.pengguna_terlapor.nama }}</p>
        <p><strong>Keterangan:</strong> {{ report_data.keterangan }}</p>
        <p><strong>Current Status:</strong> {{ report_data.status }}</p>
        
        <form id="update-status-form">
            {% csrf_token %}
            {{ update_status_form.as_p }}
            <button style="margin-bottom: 1%;" class="button" type="button" onclick="updateStatus()">Save</button>
            <button class="button" type="button" onclick="cancelUpdate()">Cancel</button>
        </form>
         
        
    {% else %}
        <p>Laporan tidak ditemukan</p>
    {% endif %}
    </div>

    <script>
      function back() {
        window.location.href = '/report-list';
      }
      
      function cancelUpdate() {
          back();
      }
      

    var updateStatus = async function () {

        var form = document.getElementById("update-status-form");
        var formData = new FormData(form);

        try {
            const response = await fetch("/report-list/{{report_data.id}}", {
                method: 'POST',
                body: formData,
            });
            console.log(response);
            if (response.status === 200) {
                showAlert('SUCCESS', `Berhasil mengupdate status`, 'Back', back, '', '');
            } else {
                showAlert('FAILED', `Gagal mengupdate status`, 'OK', '', '', '');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    };

      
    </script>
{% endblock content %}

