{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Report List</title>
<style>

</style>
{% endblock meta %} {% block content %}
<div class="container">
  <h2>
    <b
      ><span style="color: #ffca0d">Report List for</span>
      <span style="color: #120dfa">{{ username }}</span></b
    >
  </h2>
  {% if message %}
  <h5 style="padding-top: 3%; padding-bottom: 3%">{{ message }}</h5>
  {% else %}
  <div class="container-xl">
    <div class="row g-2 m-auto justify-content-center">
      {% for data in report_data %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="margin-bottom: 3%">
          <div class="card-body">
            <h5 class="card-title">{{data.kategori }}</h5>
            <p class="card-text">
              Pelapor: {{data.pelapor.pengguna_pelapor.nama}}
            </p>
            <p class="card-text">
              Terlapor: {{data.terlapor.pengguna_terlapor.nama}}
            </p>
            <hr class="line-status" />
            <p class="status" style="color: #8e9295">{{data.status}}</p>
            <div class="container-sm" id="button">
              <button
                style="margin-bottom: 3%"
                class="button"
                type="button"
                onclick="seeReport(event)"
                data-id="{{data.id}}"
              >
                Update Status
              </button>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{data.timestamp}}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <script>
      function seeReport(event) {
        var id = event.target.getAttribute("data-id");
        console.log(id);
        console.log(`Button clicked for ID: ${id}`);
        window.location.href = `/report-list/${id}`;
      }
    </script>
  </div>
</div>

{% endblock content %}
