@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins';
}

.button {
    display: flex;
    height: 40px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 0;
    background: linear-gradient(182deg, #120DFA 2.05%, #247CDF 114.14%);
    color: var(--neutral-50, #F6F6F6);
    font-size: 14px;
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: normal;
  }

.button:hover {
    background: linear-gradient(182deg, #4B47FF 2.05%, #7E8BFE 114.14%);
    
    /* Drop Shadow */
    box-shadow: 0px 2px 4px 0px rgba(6, 6, 6, 0.20);
    border: 0;
}

.button:active {
    border-radius: 12px;
    background: linear-gradient(182deg, #1F1C98 2.05%, #4366C3 114.14%);
    border: 0;
}

.button-outline {
    display: flex;
    height: 40px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--120-dfa, #120DFA);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Poppins';
    line-height: normal;
    border-radius: 12px;
    border: 2px solid #120DFA;
    background-color: white;
  }

.button-outline:hover {
    border-radius: 12px;
    border: 2px solid #6E76FE;
}

.button-outline:active {
    border-radius: 12px;
    border: 2px solid #120DFA;
    background: var(--primary-50, #F0F8FE);
}

.custom-footer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    font-family: 'Poppins';
    background: var(--fff-500-ffca-0-d, #FFCA0D);
}

.developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developer h4 {
    color: var(--120-dfa, #120DFA);
}

/* Custom styles for the active (enabled) state */
.form-custom {
    /* Your styles for the active state go here */
    border-radius: 8px;
    border-color: #120DFA;
}

.title {
    font-family: Newake;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.yellow {
    color: #FFCA0D;
}

.blue {
    color: #120DFA;
}

.background-white {
    background-color: #ffffff;
}

.form-control {
    border-radius: 8px;
    border: 2px solid #ADADAD;
}