{% extends 'base.html' %}
{% load static %}

 {% block meta %}
  <title>Buka Tumpangan</title>
  <style>
    .form-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
    }

    .select {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    label {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

  </style>
 {% endblock meta %}

 {% block content %}
 <div class="container mt-5">
    <h2><b><span class="title yellow">Buka</span> <span class="title blue">Tumpangan</span></b></h2>
    <form id="add-tumpangan" class="flex flex-start gap-4" novalidate>
      {% csrf_token %}
      <div class="row w-100 rows-cols-1 row-cols-md-3 mt-3">
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="lokasiAsal">Lokasi Asal*</label>
            <select required class="form-control " id="lokasi_asal" name="lokasi_asal">
                <option disabled selected>Pilih lokasi asal</option>
                {% for choice in lokasi_choices %}
                <option value="{{ choice.label }}">{{ choice.label }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="lokasiTujuan">Lokasi Tujuan*</label>
            <select required class="form-control " id="lokasi_tujuan" name="lokasi_tujuan">
                <option disabled selected>Pilih lokasi tujuan</option>
                {% for choice in lokasi_choices %}
                <option value="{{ choice.label }}">{{ choice.label }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="tarif">Tarif per Orang*</label>
            <input required type="number" class="form-control " id="tarif" name="tarif" placeholder="Isi Tarif">
          </div>
        </div>
      </div>
      <div class="row w-100 mt-3">
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="deskripsi">Deskripsi</label>
            <textarea class="form-control " id="deskripsi" name="deskripsi" rows="3" placeholder="Tuliskan informasi tambahan di sini"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="kapasitas">Kapasitas Penumpang*</label>
            <input required type="number" class="form-control " id="kapasitas" name="kapasitas" placeholder="Isi Kapasitas">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="depart">Waktu Keberangkatan*</label>
            <input required type="datetime-local" class="form-control " id="depart" name="depart" placeholder="Isi Waktu Keberangkatan">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center gap-2 my-5">
        <div class="m-2">
          <button type="button" class="button py-3" onclick="bukaTumpangan()">Buka Tumpangan</button>
        </div>
        <div class="m-2">
          <button type="button" class="button-outline py-3" onclick="window.location.href='/'">Kembali ke Home</button>
        </div>
      </div>
    </form>
  </div>

  <script>
    var id = ""
  function validateForm() {
    return ($('#lokasi_asal').val() !== null)
          && ($('#lokasi_tujuan').val() !== null)
          && ($('#tarif').val() !== '')
          && ($('#kapasitas').val() !== '') 
          && ($('#depart').val() !== '')
  }

  var validUser = '{{is_on_tumpangan}}'
  var bukaTumpangan = function() {
    if (validateForm()) {
      if (validUser === 'True') {
        showAlert('FAILED', 'Kamu sudah memulai tumpangan. Selesaikan terlebih dahulu', 
                    'Back', '', '', '')
        return;
      }
      var formData = $("#add-tumpangan").serialize();
      $.ajax({
          type: "POST",
          url: "/buka-tumpangan/new/",
          data: formData,
          dataType: "json",
          encode: true,
        }).done(function (data) {
          id = data.pk
          showAlert('SUCCESS', 'Berhasil membuka tumpangan', 
                  'See Details', seeDetails,
                  '', '')
          $("#add-tumpangan").trigger("reset");
        })
    } else {
      showAlert('FAILED', 'Mohon isi input dengan benar', 
                  'Back', '', '', '')
    }
  }

  function seeDetails() {
    window.location.href = `/buka-tumpangan/detail/${id}`;
  }

  </script>
  <script type="text/javascript" src="{% static 'js/buka_tumpangan.js' %}"></script>

 {% endblock content %}