{% extends 'base.html' %}
{% load static %}

 {% block meta %}
  <title>Detail Tumpangan</title>
  <style>
    .icon {
      width: 24px;
      height: 24px;
    }

    .form-control::placeholder {
      color: #1E1E1E;
    }

    .form-control:read-only {
      background-color: white;
    }

    .fw-semibold {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .subtitle {
      font-family: Newake;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .button-acc {
      display: flex;
      height: 40px;
      padding: 8px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 12px;
      border: 0;
      color: var(--neutral-50, #F6F6F6);
      font-size: 14px;
      font-style: normal;
      font-family: 'Poppins';
      font-weight: 700;
      line-height: normal;
      background: linear-gradient(182deg, #9B99F8 2.05%, #9A83F8 114.14%);  
      /* Drop Shadow */
      box-shadow: 0px 2px 4px 0px rgba(6, 6, 6, 0.20);
      border: 0;
    }

    .box {
      border-radius: 8px;
      border: 2px solid #ADADAD;
    }
  </style>
 {% endblock meta %}

 {% block content %}
 
 <div class="container my-5">
    <h2><b><span class="title yellow">Informasi</span> <span class="title blue">Tumpangan</span></b></h2>
    <form id="add-tumpangan" class="flex flex-start gap-4" novalidate>
      <div class="row w-100 rows-cols-1 row-cols-md-3 mt-3">
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="lokasiAsal">Lokasi Asal</label>
            <input readonly type="number" class="background-white form-control"placeholder="{{lokasi_asal}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="lokasiTujuan">Lokasi Tujuan</label>
            <input readonly type="number" class="background-white form-control "placeholder="{{lokasi_tujuan}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="tarif">Tarif per Orang</label>
            <input readonly type="number" class="background-white form-control "placeholder="Rp {{tarif}}">
          </div>
        </div>
      </div>
      <div class="row w-100 mt-3">
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="deskripsi">Deskripsi</label>
            <textarea readonly class="background-white form-control " id="deskripsi" name="deskripsi" rows="3" placeholder="{{deskripsi}}"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="kapasitas">Kapasitas Penumpang</label>
            <input readonly type="number" class="background-white form-control " id="kapasitas" name="kapasitas" placeholder="{{kapasitas}}">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group p-2">
            <label class="fw-semibold" for="depart">Waktu Keberangkatan</label>
            <input readonly class="background-white form-control " id="depart" name="depart" placeholder="{{depart}}">
          </div>
        </div>
      </div>
      <div>
          <h4 class="subtitle blue mt-4">Kelola penumpangmu di sini</h4>
          <h5 class="text-nowrap fw-semibold mt-3" id="counter-penumpang"><b></b></h5>

          <!-- Display List of Penumpang with Checkboxes or Cross Buttons -->
          <div class="container">
            <div class="penumpang w-100 row rows-cols-1 row-cols-md-3 g-4 justify-content-center">
            </div>
          </div>
      </div>

    <div class="my-5">
      <!-- Safely Arrived Button -->
      <div id="buttonOT">
        {% if status == "OT" %}
        <div class="d-flex justify-content-center gap-2">
          <div class="m-2">
            <form method="post" id="confirmForm">
              <input type="hidden" id="tumpanganId" value="{{id}}">
              {% csrf_token %}
              <button type="button" class="m-2 button mr-2 py-3" id="confirmButton" onclick="endTumpangan()">Tumpangan Selesai</button>
            </form>
          </div>
          <div class="m-2">
            <!-- Panic Button -->
            <a type="button" href="tel:+6281291203330" class="m-2 button-outline mr-2 py-3" id="panicButton">
              <img class="icon" src="{% static 'image/panic.png' %}" />Panic Button
            </a>
          </div>
        </div>
        {% endif %}
      </div>
      <div id="buttonOP">
        {% if status == "OP" %}
          {% csrf_token %}
          <div class="d-flex justify-content-center gap-2">
            <div class="m-2">
              <button type="button" class="button py-3" onclick="confirmJalan()">Mulai Jalan</button>
            </div>
            <div class="m-2">
              <button type="button" class="button-outline py-3" onclick="confirmDelete()">Hapus Tumpangan</button>
            </div>
          </div>
        {% endif %}
      </div>      
    </div>
    
    <script>
    function endTumpangan() {
      var tumpanganId = $("#tumpanganId").val();
      confirmTumpangan(tumpanganId);
    }

    function updatePenumpangButton(status_tumpangan, pengajuan, pengguna) {
      var buttonArea = document.getElementById(`status-${pengajuan.id}`)
      var buttonText = ""

      
      if (status_tumpangan === 'OP') {
        if (pengajuan.status_pengajuan.toUpperCase() === 'MENGAJUKAN') {
          buttonText = `<button type="button" class="button py-3" onclick="updateTumpangan('${pengajuan.id}', 'DITERIMA')">Terima</button>`
        } else  {
          buttonText = `<button type="button" class="button-acc py-3" disabled>Diterima</button>`
        }
      } else {
        if (pengguna.no_wa) {
          buttonText += `<a href="https://wa.me/+62${pengguna.no_wa}" target="_blank" class="button py-3 m-1"><img class="icon" src="{% static 'image/wa.png' %}" /></a>`
        } if (pengguna.id_line) {
          buttonText += `<a href="https://line.me/R/ti/p/~${pengguna.id_line}" target="_blank" class="button-outline py-3 m-1"><img class="icon" src="{% static 'image/line.png' %}" /></a>`
        }
        buttonText += `
        <a type="button" href="https://nebeng-dong.vercel.app/report/{{id}}" class="button-outline py-3 m-1"><img class="icon" src="{% static 'image/report.png' %}" /> Report</a>
        `
      }
      buttonArea.innerHTML = buttonText
    }

    var counter = 0
    function addCounter() {
      counter++
      $("#counter-penumpang").html(`${counter} penumpang diterima`)
    }
  
    function confirmTumpangan(tumpanganId) {
      $.ajax({
        type: "POST",
        url: `/buka-tumpangan/confirm_tumpangan/${tumpanganId}/`,
        dataType: "json",
        success: function(data) {
          updateButtonAfterConfirm()
          showAlert("SUCCESS", data.message,'OK', '', '', '')
        },
        error: function(error) {
          showAlert("FAILED", "gagal memperbarui status",'OK', '', '', '')
        }
      });
    }

    function updateStatusHTML(pengajuan_id, status) {
      item_penumpang = document.getElementById(`status-${pengajuan_id}`)
      if (status === 'DITERIMA') {
        item_penumpang.innerHTML = '<button class="button-acc py-3" disabled>Diterima</button>'
      } else {
        item_penumpang.innerHTML = '<button class="button-acc py-3" disabled>Ditolak</button>'
      }
    }

    function addCardPengajuan(status_tumpangan, pengajuan, pengguna) {
        if (pengajuan.status_pengajuan === 'DITOLAK') {
          return;
        }

        $(".penumpang").append(`
          <div class="box row rows-cols-1 row-cols-md-3 d-flex justify-content-between align-items-center mr-5 my-4 p-4" id="pengajuan-${pengajuan.id}">
            <div class="mr-5">
              <div class="text-nowrap"><b>${pengguna.nama}</b></div>
              <div class="text-nowrap">Fakultas ${pengguna.fakultas}</div>
            </div>
            <div class='d-flex justify-content-between my-2' id="status-${pengajuan.id}">
            </div>
          </div>
        `)

        updatePenumpangButton(status_tumpangan, pengajuan, pengguna)
      }

    function confirmJalan() {
      if (counter.toString() === '0') {
        showAlert('FAILED', 'Penumpangmu masih kosong',
                  'Back', '','', '')
        return;
      }
      showAlert('SUCCESS', 'Apakah kamu yakin ingin memulai tumpangan ini? *Penumpang yang belum diterima akan otomatis ditolak',
      'Ya, Mulai Jalan', () => closeOffer('{{id}}'),
      'Batal', ''
      )

    }

    function confirmDelete() {
      showAlert('FAILED', 'Apakah kamu yakin ingin menghapus tumpangan ini?',
      'Ya, Hapus', () => deleteTumpangan('{{id}}'),
      'Batal', ''
      )
    }

    var kapasitas = '{{kapasitas}}'
    var updateTumpangan = function(pengajuan_id, status) {
      if (counter.toString() === kapasitas) {
        showAlert('FAILED', 'Kapasitas sudah penuh',
                  'Mulai Jalan', () => closeOffer('{{id}}'),
                  'Back', '')
        return;
      }
      $.ajax({
            type: "PUT",
            headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
            url: `/buka-tumpangan/update/${pengajuan_id}/${status}/`,
            encode: true,
          }).done(function (data) {
            console.log(data)
            updateStatusHTML(pengajuan_id, status)
            addCounter()
          })
    }

    function updateButtons() {
      divOT = document.getElementById('buttonOT')
      divOT.innerHTML = `
      <div class="d-flex justify-content-center gap-2">
        <div class="m-2">
          <form method="post" id="confirmForm">
            <input type="hidden" id="tumpanganId" value="{{id}}">
            {% csrf_token %}
            <button type="button" class="m-2 button mr-2 py-3" id="confirmButton" onclick="endTumpangan()">Tumpangan Selesai</button>
          </form>
        </div>
        <div class="m-2">
          <!-- Panic Button -->
          <a type="button" href="tel:+6281291203330" class="m-2 button-outline mr-2 py-3" id="panicButton">
            <img class="icon" src="{% static 'image/panic.png' %}" />Panic Button
          </a>
        </div>
      </div>
      `
      document.getElementById('buttonOP').innerHTML = ''
    }

    function updateButtonAfterConfirm() {
      document.getElementById('buttonOT').innerHTML = ''
    }

    function getPengajuanTerbaru(status_tumpangan) {
        $(".penumpang").html("");
        $.getJSON( '/buka-tumpangan/get-pengajuan/{{id}}', function( data ) {
            counter = data.jml_diterima
            $("#counter-penumpang").html(`${counter} penumpang diterima`)
            var penumpang = data.data
            penumpang.forEach(element => {
              addCardPengajuan(status_tumpangan, element.pengajuan, element.pengguna);
            });
        });
      }

    function closeOffer(tumpanganId) {
      $.ajax({
        type: "PUT",
        headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
        url: `/buka-tumpangan/close-offer/${tumpanganId}/`,
        dataType: "json"
      }).done(function (data) {
        getPengajuanTerbaru("OT");
        updateButtons();
        showAlert('SUCCESS', 'Berhasil memulai tumpangan! Yuk, hubungi penumpangmu',
                  'OK', '', '', '')
        });
    }

    var deleteTumpangan = function(pk) {
      $.ajax({
            type: "DELETE",
            headers: { "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value },
            url: "{% url 'buka_tumpangan:delete_tumpangan' 1 %}".replace(1, pk),
            encode: true,
          }).done(function (data) {
            showAlert('SUCCESS', 'Berhasil menghapus tumpangan!',
                    'Back to Home', () => {window.location.href = "/"}, 
                    '', '')
          })
    }

    getPengajuanTerbaru("{{status}}");
    </script>
    <script type="text/javascript" src="{% static 'js/manage_tumpangan.js' %}"></script>

 {% endblock content %}