
{% extends 'base.html' %}
{% load static %}

 {% block meta %}
  <title>{{ profile_data.username }}</title>
 <style>

    body {
        font-family: 'Poppins';
    }
    
    .container {
        display: flex;
        width: 100%;
        padding: 32px 80px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }

    .row {
        padding-bottom:8px
    }

    .col-md-6 {
        padding-bottom:8px
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .badge {
        border-radius: 40px;
        background: linear-gradient(182deg, #FFCA0D 2.05%, #DCAB00 114.14%);
        padding: 8px;
        color: var(--120-dfa, #120DFA);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .info-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
        padding: 8px 0px 20px 0px;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
</style>
{% endblock meta %}
{% block content %}
 <div class="container">
    <h2><b><span style="color: #FFCA0D;">Halo,</span> <span style="color: #120DFA;">{{username}}!</span></b></h2>
    <span class="badge">{{ role }}</span>

    <form id="updatePasswordForm">
        {% csrf_token %}
        <div class="info-group w-100">
            <div class="row w-100">
                <div class="col-md-6">
                    <label for="name"><b>Nama</b></label>
                    <div class="input-group">
                    <input type="text" class="form-control w-100" id="name" aria-describedby="basic-addon3" disabled value="{{ first_name }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="name"><b>Username</b></label>
                    <div class="input-group">
                    <input type="text" class="form-control w-100" id="name" aria-describedby="basic-addon3" disabled value="{{ username }}">
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-6">
                    <label for="current_password"><b>Current Password:</b></label>
                    <input class="form-control" style="border-color: #120DFA; border-width: 2px" aria-describedby="basic-addon3" type="password" name="current_password" required>               
                 </div>
            </div>
            <div class="row w-100">
                <div class="col-md-6">
                    <label for="new_password"><b>New Password:</b></label>
                    <input class="form-control" style="border-color: #120DFA; border-width: 2px" aria-describedby="basic-addon3" type="password" name="new_password" required>
                </div>
                <div class="col-md-6">
                    <label for="confirm_password"><b>Confirm Password:</b></label>
                    <input class="form-control" style="border-color: #120DFA; border-width: 2px" aria-describedby="basic-addon3" type="password" name="confirm_password" required>
                </div>
            </div>
        </div>

        <div class="btn-group">
            <button type="button" class="button" onclick="updatePass()">Save</button>
            <button type="button" class="cancel-button button-outline" onclick="window.location.href='{% url 'user_profile:get_profile_tim' %}'">Cancel</button>
        </div>
    </form>
    
 </div>

<div class="modal" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                <img src="{% static 'image/success_img.png' %}" />
                <p style="padding:10px">Password baru berhasil disimpan!</p>
                </center>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="failedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="successModalContent">
            <div class="modal-header">
                <h5 class="modal-title">Failed!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="successModalBody">
            </div>
            <!-- Modal content will be dynamically set by JavaScript -->
        </div>
    </div>
</div>

<script>
     function updatePass() {
         var form = document.getElementById("updatePasswordForm");
         var formData = new FormData(form);
 
         fetch('/profile/update-password/', {
             method: 'POST',
             body: formData,
         })
         .then(response => response.json())
         .then(data => {
             if (data.status) {
                showSuccessPopup();
                form.reset();
             } else {
                showFailedPopup(data.message);
             }
         })
         .catch(error => console.error('Error:', error));
     }

     
    function showSuccessPopup() {
        // Use Bootstrap modal to show a pop-up
        var myModal = new bootstrap.Modal(document.getElementById('successModal'));
        myModal.show();
    }

    function showFailedPopup(message) {
        // Use Bootstrap modal to show a pop-up
        var myModal = new bootstrap.Modal(document.getElementById('failedModal'));

           // Set dynamic content in the modal
      document.getElementById('successModalBody').innerHTML = `
        <div class="modal-body">
            <center>
            <img src="{% static 'image/failed_img.png' %}" />
            <p style="margin:24px">${message}</p>
            </center>
        </div>
    `;

        myModal.show();
    }
 </script>
{% endblock content %}  