{% extends 'base.html' %}
{% load static %}

 {% block meta %}
  <title>{{ profile_data.nama }}</title>
  <style>

    body {
    font-family: 'Poppins';
    }

    .container {
        display: flex;
        width: 100%;
        padding: 32px 80px;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input {
        width: 100%;
        padding: 8px 8px 8px 16px;
        box-sizing: border-box;
    }

    .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }

    .row {
        padding-bottom:8px
    }

    .col-md-6 {
        padding-bottom:8px
    }

    .badge {
        border-radius: 40px;
        background: linear-gradient(182deg, #FFCA0D 2.05%, #DCAB00 114.14%);
        padding: 8px;
        color: var(--120-dfa, #120DFA);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .info-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        align-self: stretch;
        flex-wrap: wrap;
        padding: 8px 0px 20px 0px;
    }
</style>
 {% endblock meta %}
 {% block content %}
    <div class="container">
        <h2><b><span style="color: #FFCA0D;">Halo,</span> <span style="color: #120DFA;">{{profile_data.nama}}!</span></b></h2>
        <span class="badge">{{ profile_data.role }}</span>

        <form id="updateForm">
            {% csrf_token %}
            <div class="info-group  w-100">
                <div class="row w-100">
                    <div class="col-md-6">
                            <label for="name"><b>Nama</b></label>
                            <div class="input-group">
                            <input type="text" class="form-control w-100" id="name" aria-describedby="basic-addon3" disabled value="{{ profile_data.nama }}">
                            </div>
                    </div>
                    <div class="col-md-6">
                            <label for="status_tump"><b>Status Tumpangan</b></label>
                            <div class="input-group">
                            <input type="text" class="form-control w-100" id="status_tump" aria-describedby="basic-addon3" disabled value="{{ profile_data.Status_tumpangan }}">
                            </div>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6">
                        <label for="basic-url"><b>Fakultas</b></label>
                        <div class="input-group">
                        <input type="text" class="form-control  w-100" id="basic-url" aria-describedby="basic-addon3" disabled value="{{ profile_data.fakultas}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="basic-url"><b>No WhatsApp</b></label>
                        <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="background: #120DFA; color:white" id="basic-addon3">+62</span>
                        </div>
                        <input type="number" class="form-control" style="border-color: #120DFA; border-width: 2px" aria-describedby="basic-addon3" id="new_no_wa" name="new_no_wa" pattern="[0-9]*" value="{{ profile_data.no_wa }}">
                        </div>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-md-6">
                        <label for="new_id_line"><b>ID LINE</b></label>
                        <div class="input-group">
                            <input type="text" aria-describedby="basic-addon3" style="border-color: #120DFA; border-width: 2px" class="form-control" id="new_id_line" name="new_id_line" value="{{ profile_data.id_line }}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="new_no_kendaraan"><b>No Kendaraan</b></label>
                    <div class="input-group">
                    <input type="text" aria-describedby="basic-addon3" style="border-color: #120DFA; border-width: 2px" class="form-control" id="new_no_kendaraan" name="new_no_kendaraan" value="{{ profile_data.no_kendaraan }}">
                    </div>
                    </div>
                </div>
            </div>
        
            <div class="btn-group">
                <button type="submit" class="button" id="saveButton" onclick="submitForm(event)" >Save</button>
                <button type="button" class="cancel-button button-outline" onclick="window.location.href='{% url 'user_profile:get_profile_pengguna' %}'">Cancel</button>
            </div>
        </form>
    </div>

    <script>        
        function submitForm(event) {
            event.preventDefault();

            var formData = $("#updateForm").serialize();
    
            $.ajax({
                type: "POST",
                url: "{% url 'user_profile:update_profile_pengguna' %}",
                data: formData,
                success: function(response) {
                    showAlert('SUCCESS', response.message,
                    'Close', '', 
                    '', '')
                },
                error: function(error) {
                    showAlert('FAILED', error.responseJSON.error,
                    'Close', '', 
                    '', '')
                }
            });
        }
    </script>
    

 {% endblock content %}  