{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block meta %}
<title>Cari Tumpangan</title>
<style>
    .card {
        border-radius: 12px;
    }
</style>

{% endblock meta %}

{% block content %}

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-9">
            <h2 class="font-weight-bold">
                <span style="color: #FFCA0D;">Cari</span>
                <span style="color: #120DFA;">Tumpangan</span>
            </h2>
        </div>
        <div class="col-3 text-right">
            <h3 class="pt-1" type="button" data-toggle="collapse" data-target="#filterForm">
                &#128269;
            </h3>
        </div>
    </div>
    <div class="collapse mb-3" id="filterForm">
        <form method="GET">
            {{tumpangan_filter.form|bootstrap}}
            <button class="btn btn-primary mt-2" type="submit" style="border-radius: 12px;">Search</button>
        </form>
    </div>

    <div class="mt-5">
        {% for tumpangan in tumpangan_list %}
        {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
        {% endif %}
        <div class="col-lg-6 mb-4">
            <div class="card border-primary shadow-sm h-100">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-8 col-lg-12">
                            <h5 class="card-title">{{tumpangan.lokasi_asal}} to {{tumpangan.lokasi_tujuan}}</h5>
                        </div>
                        <div class="col-sm-4 col-lg-12">
                            <h5 class="card-title">&#128100; {{tumpangan.pembuka_tumpangan.nama}}</h5>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-3 col-md col-lg-12">&#128186; {{tumpangan.kapasitas}} Seats</div>
                        <div class="col-sm col-md col-lg-12">&#128181; Rp{{tumpangan.tarif}}</div>
                        <div class="col-sm-5 col-md col-lg-12">&#128338; {{tumpangan.depart}}</div>
                    </div>
                    <a href="/cari-tumpangan/detail/{{tumpangan.id}}" class="stretched-link"></a>
                </div>

                <div class="card-footer text-right" style="z-index: 3; background-color: transparent; border: none;">
                    <form method="POST" class="pb-2" action="{% url 'cari_tumpangan:apply_tumpangan' %}" onsubmit="return validateForm('{{ tumpangan.id }}');">
                        {% csrf_token %}
                        <input type="hidden" name="tumpangan_id" value="{{ tumpangan.id }}">
                        <div class="btn-group">
                            {% if pengajuan_tumpangan_dict|get_item:tumpangan.id %}
                                <button type="submit" class="btn" style="background-color: #FFCA0D; border-top-left-radius: 12px; border-bottom-left-radius: 12px;" disabled>Booked</button>
                            {% else %}
                                <button type="submit" class="btn" style="background-color: #FFCA0D; border-top-left-radius: 12px; border-bottom-left-radius: 12px;">Book</button>
                            {% endif %}
                            <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="background-color: #FFCA0D; border-top-right-radius: 12px; border-bottom-right-radius: 12px;" data-toggle="dropdown">
                                <span>&#128490;</span>
                            </button>
                            <ul class="dropdown-menu">
                                {% if tumpangan.pembuka_tumpangan.no_wa %}
                                    <li><a class="dropdown-item" href="https://wa.me/{{tumpangan.pembuka_tumpangan.no_wa}}" target="_blank" rel="noopener noreferrer">WhatsApp</a></li>
                                {% endif %}
                                {% if tumpangan.pembuka_tumpangan.id_line %}
                                    <li><a class="dropdown-item" href="https://line.me/ti/p/~{{tumpangan.pembuka_tumpangan.id_line}}" target="_blank" rel="noopener noreferrer">LINE</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
            </div>
        {% endif %}
        {% empty %}
            <h5 class="text-center m-5">Tidak ada tumpangan yang tersedia.</h5>
        {% endfor %}
    </div>
</div>

<script>
    var userBooked = '{{pengguna.is_on_tumpangan}}'
    var userWaExist = '{{pengguna.no_wa}}'
    var userLineExist = '{{pengguna.id_line}}'
    function validateForm(tumpanganId) {
        if (userBooked == "False") {
            if (userWaExist != "" || userLineExist != "") {
                return true;
            }
            showAlert('FAILED', 'Kamu belum mengisi informasi kontak. Isi terlebih dahulu', 
                    'Back', '', '', '')
            return false;
        } else {
            showAlert('FAILED', 'Kamu masih berada dalam tumpangan. Selesaikan terlebih dahulu', 
                    'Back', '', '', '')
            return false;
        }
    }
</script>

{% endblock content %}
