{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block meta %}
<title>Detail Tumpangan</title>
{% endblock meta %}

{% block content %}
<br/>
<div class="container">
    <div class="card border-primary shadow-sm mb-5" style="border-radius: 12px;">
        <div class="card-body p-5">
            <div class="row mb-3">
                <div class="col-md-8 pb-3">
                    <h5 class="card-title">{{tumpangan.lokasi_asal}} to {{tumpangan.lokasi_tujuan}}</h5>
                    <p>&#128186; {{tumpangan.kapasitas}} Seats</p>
                    <p>&#128181; Rp{{tumpangan.tarif}}</p>
                    <p>&#128338; {{tumpangan.depart}}</p>
                    <p>&#128664; {{tumpangan.pembuka_tumpangan.no_kendaraan}}</p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">&#128100; {{tumpangan.pembuka_tumpangan.nama}}</h5>
                    <p>{{tumpangan.pembuka_tumpangan.fakultas}}</p>
                    <p>{{tumpangan.pembuka_tumpangan.email}}</p>
                    <p>WhatsApp: +62{{tumpangan.pembuka_tumpangan.no_wa|default:"-"}}</p>
                    <p>LINE: {{tumpangan.pembuka_tumpangan.id_line|default:"-"}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col text-justify">Status: {{tumpangan.status}}</div>
            </div>
            <div class="row mb-3">
                <div class="col text-justify">Deskripsi: {{tumpangan.deskripsi|default:"-"}}</div>
            </div>

            <div class="text-right pt-4">
                <form method="POST" action="{% url 'cari_tumpangan:apply_tumpangan' %}" onsubmit="return validateForm('{{ tumpangan.id }}');">
                    {% csrf_token %}
                    <input type="hidden" name="tumpangan_id" value="{{ tumpangan.id }}">
                    <div class="btn-group">
                        {% if booked %}
                            <button type="submit" class="btn" style="background-color: #FFCA0D; border-top-left-radius: 12px; border-bottom-left-radius: 12px;" disabled>Booked</button>
                        {% else %}
                            <button type="submit" class="btn" style="background-color: #FFCA0D; border-top-left-radius: 12px; border-bottom-left-radius: 12px;">Book</button>
                        {% endif %}
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" style="background-color: #FFCA0D; border-top-right-radius: 12px; border-bottom-right-radius: 12px;" data-toggle="dropdown">
                            <span>&#128490;</span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if tumpangan.pembuka_tumpangan.no_wa %}
                                <li><a class="dropdown-item" href="https://wa.me/{{tumpangan.pembuka_tumpangan.no_wa}}" target="_blank" rel="noopener noreferrer">WhatsApp</a></li>
                            {% endif %}
                            {% if tumpangan.pembuka_tumpangan.id_line %}
                                <li><a class="dropdown-item" href="https://line.me/ti/p/~{{tumpangan.pembuka_tumpangan.id_line}}" target="_blank" rel="noopener noreferrer">LINE</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var userBooked = '{{pengguna.is_on_tumpangan}}'
    var userWaExist = '{{pengguna.no_wa}}'
    var userLineExist = '{{pengguna.id_line}}'
    function validateForm(tumpanganId) {
        if (userBooked == "False") {
            if (userWaExist != "" || userLineExist != "") {
                return true;
            }
            showAlert('FAILED', 'Kamu belum mengisi informasi kontak. Isi terlebih dahulu', 
                    'Back', '', '', '')
            return false;
        } else {
            showAlert('FAILED', 'Kamu masih berada dalam tumpangan. Selesaikan terlebih dahulu', 
                    'Back', '', '', '')
            return false;
        }
    }
</script>

{% endblock content %}
