{% load static %}

<style>
    .modal-content {
        border-radius: 26px;
        max-width: fit-content;
        background: #FFF;
        box-shadow: -1px 1px 4px 0px rgba(0, 0, 0, 0.25), 7px 7px 4px 0px rgba(0, 0, 0, 0.25);       
    }

    .modal-footer {
        border-top: none;
    }
</style>

<!-- custom modal dialog -->
<div class="modal" tabindex="-1" role="dialog" id="customAlertModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <div class="modal-body items-center mx-auto" id="alert-body"> 
            </div>
            <div class="d-flex justify-content-center border-top-0 modal-footer">
                <button type="button" class="button mx-2" data-dismiss="modal" id="prim-btn"></button>
                <button type="button" class="button-outline mx-2" data-dismiss="modal" id="second-btn"></button>
            </div>
        </div>
    </div>
</div>

<script>
function showAlert(type, msg,    // type: either SUCCESS or FAILED
                    txtButtonPrimary, onclickPrim, 
                    txtButtonSecondary, onclickScnd) {

    var alertImg = ''                    
    if (type === 'SUCCESS') {
        alertImg = `<img class='mx-auto my-3' src="{% static 'image/success_img.png' %}" />`
    } else {
        alertImg = `<img class='mx-auto my-3' src="{% static 'image/failed_img.png' %}" />`
    }
    document.getElementById('alert-body').innerHTML = `
        <div class='my-2'>${msg}</div>        
        <div class='px-auto d-flex justify-content-center'>${alertImg}</div>
    `;
    if (txtButtonPrimary !== "") {
        var primBtn = document.getElementById('prim-btn');
        primBtn.innerHTML = txtButtonPrimary;
        primBtn.onclick = onclickPrim;
    } else {
        $("#prim-btn").hide()
    }

    if (txtButtonSecondary !== "") {
        var secondBtn = document.getElementById('second-btn');
        secondBtn.innerHTML = txtButtonSecondary;
        secondBtn.onclick = onclickScnd;
    } else {
        $("#second-btn").hide()
    }

    $('#customAlertModal').modal('show');
}
</script>