{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <!-- Bootstrap JS and dependencies -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'image/logo_icon.png' %}">
  <!-- jQuery for AJAX -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% include 'nav.html' %}
  <div class="content">
    {% block content %}
    {% endblock content %}    
    {% include 'alert.html' %}
  </div>

  <footer class="footer custom-footer" style="font-family: 'Poppins', sans-serif;">
    <img src="{% static 'image/logo_footer.png' %}" />
   <div class="developer"> <h4><b>Developers</b></h4>
    <p>Divany Harryndira</p>
    <p>Ghayda Rafa</p>
    <p>Naila Shafirni</p>
    <p>Rania Maharani</p>
    <p>Syadza Nayla</p></div>
  </footer>
</body>

</html>