{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
      <a class="navbar-brand" href="{% url 'home:home' %}">
        <img src="{% static 'image/logo_nav.png' %}" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated and not user.is_superuser %}
          <li class="nav-item active">
            <a class="nav-link" href="/cari-tumpangan/">Cari Tumpangan <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href='#' onclick="clickBukaTumpangan()">Buka Tumpangan <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/history/">History <span class="sr-only">(current)</span></a>
          </li>
          {% elif user.is_authenticated and user.is_superuser %}
          <li class="nav-item active">
            <a class="nav-link" href="/report-list/">Laporan <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
          {% if user.is_authenticated %}
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href='/profile/profile-pengguna/'>Profile</a>
            </li>
          </ul>
          <div>
            <a href="/api/auth/logout/">
              <button class="button">Logout</button>
            </a>
          </div>
          {% elif request.path != '/api/auth/home/'  %}
          <div>
            <a href="/api/auth/home/">
              <button class="button">Login</button>
            </a>
          </div>
          {% endif %}
      </div>
    </nav>
  </header>
  <script>
    var clickBukaTumpangan = function() {
      $.ajax({
          type: "GET",
          url: "/buka-tumpangan/check-no-kendaraan/",
        }).done(function (data) {
            msg = data.message
            console.log(msg)
            if (msg !== 'success') {
                showAlert('FAILED', msg, 
                        'Edit Profile', () => {window.location.href='/profile/profile-pengguna/'}, 
                        'Back', '')
                return false;
            } else {
                window.location.href='/buka-tumpangan/new/'
            }
        })
    } 
  </script>