{% extends 'base.html' %}
{% load static %}
{% block meta %}
<style>
    .icon {
        width: 24px;
        height: 24px;
      }
</style>
{% endblock meta %} 
{% block content %}
<div class="container mt-5">
    <h2>Detail History Tumpangan</h2>
    <div class="card border-primary shadow-sm mb-5" style="border-radius: 12px;">
        <div class="card-body p-5">
            <div class="row mb-3">
                <div class="col-md-8 pb-3">
                    <h5 class="card-title">{{tumpangan.lokasi_asal}} to {{tumpangan.lokasi_tujuan}}</h5>
                    <p>&#128186; {{tumpangan.kapasitas}} Seats</p>
                    <p>&#128181; Rp{{tumpangan.tarif}}</p>
                    <p>&#128338; {{tumpangan.depart}}</p>
                    <p>&#128664; {{tumpangan.pembuka_tumpangan.no_kendaraan}}</p>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Kontak pembuka tumpangan</h5>
                    <p>&#128100; {{tumpangan.pembuka_tumpangan.nama}}</p>
                    <p>{{tumpangan.pembuka_tumpangan.fakultas}}</p>
                    <p>{{tumpangan.pembuka_tumpangan.email}}</p>
                    <p>WhatsApp: {{tumpangan.pembuka_tumpangan.no_wa|default:"-"}}</p>
                    <p>LINE: {{tumpangan.pembuka_tumpangan.id_line|default:"-"}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 pb-3 text-justify">
                    <p>Status: {{tumpangan.status}}</p>
                    <p>Deskripsi: {{tumpangan.deskripsi|default:"-"}}</p>
                </div>
                <div class="col">
                    <center>
                    <a class="button btn-danger" style="width:20%" href="{{base_link}}/report/{{tumpangan.id}}">Report</a>
                    </center>
                    <div id="buttonOT">
                        {% if tumpangan.status == "OT" %}
                        <div class="d-flex justify-content-center gap-2">
                          <div class="m-2">
                            <form method="post" id="confirmForm">
                              <input type="hidden" id="tumpanganId" value="{{tumpangan.id}}">
                              {% csrf_token %}
                              <button type="button" class="m-2 button mr-2 py-3" id="confirmButton" onclick="endTumpangan()">Tumpangan Selesai</button>
                            </form>
                          </div>
                          <div class="m-2">
                            <!-- Panic Button -->
                            <button type="button" class="m-2 button-outline mr-2 py-3" id="panicButton">
                              <img class="icon" src="{% static 'image/panic.png' %}" />Panic Button
                            </button>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function endTumpangan() {
        var tumpanganId = $("#tumpanganId").val();
        confirmTumpangan(tumpanganId);
      }

    function confirmTumpangan(tumpanganId) {
        $.ajax({
            type: "POST",
            url: `/buka-tumpangan/confirm_tumpangan/${tumpanganId}/`,
            dataType: "json",
            success: function(data) {
            updateButtonAfterConfirm()
            showAlert("SUCCESS", data.message,'OK', '', '', '')
            },
            error: function(error) {
            showAlert("FAILED", "gagal memperbarui status",'OK', '', '', '')
            }
        });
    }
    
    function updateButtonAfterConfirm() {
        document.getElementById('buttonOT').innerHTML = ''
    }
    
</script>
{% endblock content %}