{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>History</title>
{% endblock meta %} 
{% block content %}
<div class="container">
    <div class="d-flex flex-row mt-5">
        <h2>History</h2>
    </div>
    <div class="d-flex flex-column" id="history-container">
        <div class="d-flex flex-column mt-3">
            <div class="d-flex flex-column" id="history-container">
                <h3>Pengajuan Tumpangan</h3>
            </div>
            <div class="d-flex flex-column" id="history-container">
                <div class="d-flex flex-row mt-2">
                    {% if flag_pengajuan == 0 %}
                        <p>Kamu belum pernah mengajukan tumpangan</p>
                    {% else %}
                        {% for key,value in history_pengajuan.items %}
                        <div class="card border-primary shadow-sm h-100 m-2">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-8 col-lg-12">
                                        <h5 class="card-title">{{value.lokasi_asal}} to {{value.lokasi_tujuan}}</h5>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-sm-3 col-md col-lg-12">{{value.depart}}</div>
                                </div>
                                <div class="col-sm-8 col-lg-12">
                                    <a href="{{base_link}}/history/pengaju/{{key}}/" class="card-link">Detail</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="d-flex flex-column mt-3">
            <div class="d-flex flex-column" id="history-container">
                <h3>Penawaran Tumpangan</h3>
            </div>
            <div class="d-flex flex-column" id="history-container">
                <div class="d-flex flex-row mt-2">
                    {% if flag_tumpangan == 0 %}
                        <p>Kamu belum pernah menawarkan tumpangan</p>
                    {% else %}
                        {% for data in history_tumpangan %}
                        <div class="card border-primary shadow-sm h-100 m-2">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-8 col-lg-12">
                                        <h5 class="card-title">{{data.lokasi_asal}} to {{data.lokasi_tujuan}}</h5>
                                        <h6 class="card-subtitle">{{data.depart}}</h6>
                                    </div>
                                    <div class="col-sm-8 col-lg-12">
                                        <a href="{{base_link}}/buka-tumpangan/detail/{{data.id}}" class="card-link">Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}